.Product {
    background-color: #FFF;
    display: flex;
    height: 85%;
    margin: 20px 15% 45px 15%;
    border-radius: 4px;
}

.Product-col-left {
    height: 100%;
    padding: 45px;
    min-width: 800px;
    max-width: 800px;
}

.Product-picture {
    height: 450px;
}

.Product-picture img {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Product-description {
    white-space: pre-wrap;
}

.Product-col-right {
    padding: 15px 45px 45px 0;
}

.Product-col-right p {
    font-size: 14px;
    margin-block-end: 4px;
}

.Product-col-right p:first-letter {
    text-transform: capitalize;
}

.Product-col-right h2{
    margin-block-start: 0;
}

.Product-col-right button{
    width: 95%;
    height: 40px;
    margin-top: 70px;
    color: #FFF;
    background-color: #3483FA;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: box-shadow .25s ease-out,
        background-color .2s ease-out;
    box-shadow: 0 0 0 0 #fff;
}

.Product-col-right button:hover{
    background-color: #2968C8;
    cursor: pointer;
}

.Product-price {
    overflow: visible;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1em;
    font-size: 36px;
}  
  
.Product-price * {
    float: left;
}

.Product-price-cents {
    font-size: .7em;
    vertical-align: text-bottom;
    line-height: 1em;
    margin-left: .05em;
}