.App header {
  background-color: #FFF159;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.App-content {
  padding-inline-start: 0;
  background-color: #FFF;
  margin: 20px 15% 45px 15%;
}

.App-breadcrumb {
  background-color: #EEE;
  display: flex;
  margin-left: 15%;
  padding: 0;
}

.App-breadcrumb li {
  display: inline;
  font-size: 14px;
  
}

.App-breadcrumb li+li:before {
  padding: 8px;
  color: #333;
  content: "/\00a0";
}

.App-breadcrumb li a {
  color: #333;
  text-decoration: none;
}